<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SaiKrishna</a>
        <div class="d-flex">
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>
    </div>
</nav>